body {
  background-color: #21252B;
}
.navbar {
  overflow: hidden;
  background-color: #21252B;
  width: 100%;
  height: 70px;
  position: sticky;
  transition: 0.4s;
  left: 0px;
  top: 0px;
  z-index: 99;
}

.navbar a:hover {
  background-color: #130a66;
}
.navbar a:active{
  background-color: #130a66;
}
.navbar a {
  color: #d9d9d9;
  text-decoration: none;
  padding: 10px;
}
